.eye{
	background: #FCFCFC;
	padding-top: 8em;
	padding-bottom: 7em;
}
.eye ul li .cloud_img{
	width: 193px;
	height: 194px;
	margin:0 auto;
	text-align: center;
	line-height: 194px;
	color:#fff;
	font-size: 2.2em;
	font-weight: bold;
}
.eye ul li:first-child .cloud_img{
	background: url("../images/cloud1.png") center center no-repeat;	
}
.eye ul li:nth-child(2) .cloud_img{
	background: url("../images/cloud2.png") center center no-repeat;	
}
.eye ul li:last-child .cloud_img{
	background: url("../images/cloud3.png") center center no-repeat;
}
.eye h3,.silver h3{
	margin-bottom: 2em;
	text-align: center;
	color:#333333;
	font-size: 2.2em;
}
.eye ul{
	padding-top: 3em;
	overflow: hidden;
}
.eye ul li h4,.silver ul li h4{
	font-size: 1.2em;
	text-align: center;
	color:#333333;
	margin: 1.2em 0;
}
.eye ul li p,.silver ul li p{
	text-align: center;
	line-height: 1.6em;
	width:85%;
	margin:0 auto;
}

.silver{
	background: #F5FEFD;
	padding-top: 100px;
	padding-bottom: 90px;
}
.silver ul li .silver_img{
	width:100px;
	height: 100px;
	margin:0 auto;
}
.silver ul li:first-child .silver_img{
	border:10px solid #87C5FF;
	background:#4094E2 url("../images/yun1.png") center center no-repeat;	
}
.silver ul li:nth-child(2) .silver_img{
	border:10px solid #DFC2FF;
	background:#D872DE url("../images/yun2.png") center center no-repeat;	
}
.silver ul li:last-child .silver_img{
	border:10px solid #FFC2C6;
	background:#DC646F url("../images/yun3.png") center center no-repeat;	
}

@media (min-width: 1500px){
	.eye ul li:first-child p,.silver ul li:first-child p{
		width:70%;
	}
}